@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');


.adoptedContainer {
  display: flex;
  justify-content: space-around;
  padding: 1%;
}
.adoptedTitle {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 32px;
  font-weight: 900;
  margin-left: 1%;
  margin-bottom: 1%;
  text-transform: uppercase;
  color: #4169C1;
}

.adoptedImgCont {
  display: flex;
}


.adoptImg {
  width: 300px;
  height: 226px;
  overflow: hidden;
}

.adoptPetImg {
  display: flex;
  justify-content: space-between;
  margin-right: 65%;
}
