@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');


.adoptedTitle {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 32px;
  font-weight: 900;
  margin-left: 1%;
  margin-bottom: 1%;
  text-transform: uppercase;
}

.adoptedImgCont {
  display: flex;
}


.adoptImg {
  width: 440px;
  height: 280px;
  overflow: hidden;
}

.adoptPetImg {
  display: flex;
  justify-content: space-between;
  margin-right: 65%;
}
