@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

.favoritedTitle {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 32px;
  font-weight: 900;
  margin-left: 1%;
  text-transform: uppercase;
}

.favImgCont {
  display: flex;
}


.favImg {
  width: 300px;
}

.favoritedPetImg {
  display: flex;
}
