@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

.favoritedTitle {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 32px;
  font-weight: 900;
  margin-left: 1%;
  text-transform: uppercase;
}

.favoriteContainer {
  display: flex;
  flex-wrap: wrap;
}

.favImgCont {
  /* display: flex; */
  width: 300px;
  height: 220px;
  overflow: hidden;
}


/* .favImg {
  width: 300px;
} */

.favoritedPetImg {
  display: flex;
}
