@import url('https://fonts.googleapis.com/css?family=Clicker+Script');

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

.Home {
  background-image: url('../assets/background.jpeg');
  background-size: cover;
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  padding: 15px;
}

.greeting {
  font-family: 'Clicker Script', cursive;
  font-size: 63px;
  color: white;
  padding-left: 30%;
}
