@import url('https://fonts.googleapis.com/css?family=Clicker+Script');

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

.Home {
  background-image: url('../assets/puppies.jpg');
  background-size: cover;
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  padding: 15px;
  opacity: 0.9;
  margin-left: -15px;
  padding-top: 45px;
}

.greeting {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 98px;
  color: white;
  display: flex;
  justify-content: center;
  letter-spacing: 4px;
  background-color: rgba(208, 199, 198, 0.3);
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 0%;
}
