@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");

.login_container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  width: 25%;
  height: 260px;
  background-color: #efefef;
  align-items: center;
  border: 1px solid white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  font-family: "Open Sans Condensed";
}

.login_title {
  font-size: 40px;
  font-weight: bold;
  margin: 10px 0;
}
.login_form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 5px 0;
}
.login_input {
  margin: 3px 0;
  padding: 0 10px;
  height: 30px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
}
.login_button_div {
  display: flex;
}
.login_button {
  width: 45%;
  height: 40px;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  margin: 10px auto;
  background-color: #001049;
  color: #fff;
}
.login_link {
  font-size: 25px;
  font-weight: bold;
  background-color: rgba(245, 165, 64, 0.5);
  padding: 5px;
  border-radius: 5px;
}
