@import url('https://fonts.googleapis.com/css?family=Clicker+Script');

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

.navlinks {
  display: flex;
}

.subBar {
  display: flex;
  margin-left: 37%;
}

.iLinks {
  color: #001049;
}

.leftCorner {
  padding-left: 16%;
  padding-top: 1%;
  margin-left: -5%;
}

.username {
  margin-left: 33%;
  margin-top: 2%;
  padding-right: 11%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 900;
  font-size: '15px';
  display: flex;
  text-transform: uppercase;
}

a.username {
  font-size: 22px;
}

.register {
  margin-top: 2%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 900;
  font-size: '15px';
  text-transform: uppercase;
}

.logout {
  color: white;
  background-color: rgb(0, 16, 73);
  border-radius: 2px;
  height: 44%;
  margin-left: 14%;
  font-size: 20px;
  border-radius: 36px;
}

.logoutCont {

}

.logo {
  width: 60px;
  padding: 6%;
  opacity: 0.8;
}

.fureverHome {
  font-family: 'Clicker Script', cursive;
  font-size: 50px;
  font-weight: 900;
  color: #001049;
  margin-right: 11%;
  padding-top: .5%;
  padding-bottom: 1%;
}

.navbar {
  background-color: white
}

.ddlinks {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  font-weight: 900;
  color: #001049;
  padding: 2%;
}

a {
  color: 001049;
  text-decoration: none;
}

a:visited {
  color: #001049;
  decoration: none;
  text-decoration: none;
}

.loginCont {
  margin-top: 2%;
  margin-left: 25%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 13px;
}

.dogs {
  margin-left: 45%;
}
