@import url('https://fonts.googleapis.com/css?family=Clicker+Script');

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

.navlinks {
  display: flex;
}

.iLinks {
  color: #001049;
}

.logo {
  width: 70px;
  padding: 6%;

}

.fureverHome {
  font-family: 'Clicker Script', cursive;
  font-size: 62px;
  font-weight: 900;
  color: #001049;
  margin-right: 18%;
}

.navbar {
  background-color: white
}

/* .ddlinks {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  font-weight: 900;
  color: #001049;
  padding: 2%;
} */

/* a {
  color: 001049;
  text-decoration: none;
} */
