@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");

.shelter_container {
  /* background-color: orange; */
}

.shelter_search {
  font-family: "Open Sans Condensed", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 11vh;
  width: 75%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
}

.shelter_label {
  font-size: 35px;
  font-weight: bold;
  margin: 0 5px 0 40px;
  color: rgb(0, 16, 73);
}

.shelter_select {
  color: white;
  background-color: #001049;
  font-size: 20px;
  height: 40px;
  border-radius: 15px;
  padding: 0 5px;
}

.shelter_input {
  font-size: 25px;
  height: 40px;
  padding: 0 5px;
  border: solid #efefde 3px;
  border-radius: 10px;
}

.shelter_info {
  display: flex;
  font-size: 25px;
  font-weight: bold;
  color: #001049;
  width: 93%;
  margin: 10px auto;
  padding: 5px 25px;
  border: 1px solid white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
}

.info_name {
  width: 50%;
  color: #4169C1;
}

.info_location {
  width: 25%;
  color: #4169C1;
}

.shelter_results_container {
  margin: 0 auto;
  padding: 5px;
  width: 95%;
  background-color: transparent;
  border: 1px solid white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
}

.shelter_link {
  display: flex;
  background-color: transparent;
  width: 100%;
  margin: 5px;
  font-size: 20px;
}

.shelter_name {
  width: 50%;
}

.shelter_location {
  width: 20%;
}

.info_email {
  color: #4169C1;
}

/* .border {
  margin-left: 50px;
  display: grid;
  grid-template-columns: 40% 20% 20%;
  grid-template-rows: 93%;
  width: 238%;
}

.shelterInfo {
  font-family: "Open Sans Condensed", sans-serif;
  padding-left: 15px;
  font-weight: bolder;
  font-size: 30px;
}

.shelterName {
  grid-column: 1;
}

.shelterAddress {
  grid-column: 2;
} */
