@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");

.search {
  font-family: "Open Sans Condensed", sans-serif;
  display: flex;
  padding: 2%;
}

.border {
  margin-left: 50px;
  display: grid;
  grid-template-columns: 40% 20% 20%;
  grid-template-rows: 93%;
  width: 238%;
}

.shelterInfo {
  font-family: "Open Sans Condensed", sans-serif;
  padding-left: 15px;
  font-weight: bolder;
  font-size: 30px;
}

.shelterName {
  grid-column: 1;
}

.shelterAddress {
  grid-column: 2;
}

.shelterEmail {
  grid-column: 3;
}
