@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");

.navbarContainer {

}


.profilePicCont {
  padding-bottom: 2%;
}

.usernameProf {
  font-size: 45px;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", sans-serif;
}

.aboutMe {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 32px;
  margin-left: 37%;
  margin-top: -12%;
}
