@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");

.usernameProf {
  font-size: 45px;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", sans-serif;
  margin-bottom: 7%;
  margin-top: -6%;
  padding-left: 4%;
}

.profilePicCont {
  padding-bottom: 2%;
}

.aboutMe {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 32px;
  margin-left: 37%;
  margin-top: -12%;
}
