.modal_container {
  width: 50%;
  height: 400px;
  margin: 150px auto;
  /* background-color: rgba(255, 255, 255, 0.75); */
  background-color: orange;
}

.modal_title {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.modal_form {
  display: flex;
  justify-content: space-around;
  padding-left: 20px;
  background-color: pink;
}
