@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

.postsTitle {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 32px;
  font-weight: 900;
  margin-left: 1%;
  margin-bottom: 1%;
  text-transform: uppercase;
}

.postsProfCont {
  display: flex;
}

.profPostTitle{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  font-family: 'Open Sans Condensed', sans-serif;
}

.postsPetImg {
  display: flex;
  justify-content: space-between;
  margin-right: 45%;
}

.postImg {
  width: 300px;
  font-family: 'Open Sans Condensed', sans-serif;
}
