@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");

.organization_div {
  margin: 0 auto;
  width: 95%;
  border: 1px solid white;
  padding: 1%;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  text-align: center;
}

.organization_info {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  align-items: center;
}

.organization_pic_div {
  width: 50vw;
  overflow: hidden;
}

.organization_details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50vw;
  font-weight: bold;
  font-size: 20px;
}

.organization_name {
  font-size: 40px;
  font-weight: 900;
  font-family: "Open Sans Condensed", sans-serif;
  color: #4169c1;
}

.locationText {
  font-family: "Open Sans Condensed", sans-serif;
  color: #001049;
  font-weight: 900;
  font-size: 47px;
  font-variant-caps: all-petite-caps;
}

.cityState {
  font-family: "Open Sans Condensed", sans-serif;
  color: #001049;
  font-size: 34px;
  font-variant-caps: all-petite-caps;
  font-weight: 100;
}

.contactUs {
  font-family: "Open Sans Condensed", sans-serif;
  color: #001049;
  font-weight: 900;
  font-size: 47px;
  font-variant-caps: all-petite-caps;
}

.organEmail {
  font-family: "Open Sans Condensed", sans-serif;
  color: #001049;
  font-size: 34px;
  font-variant-caps: all-petite-caps;
  font-weight: 100;
}

.organization_divider {
  padding: 1%;
  width: 520px;
  display: flex;
  margin: 20px auto;
  justify-content: center;
  font-size: 50px;
  font-weight: 900;
  font-family: "Open Sans Condensed", sans-serif;
  color: #001049;
  position: relative;
}

.notAvail {
  font-family: "Open Sans Condensed", sans-serif;
  color: #001049;
  font-size: 64px;
  font-variant-caps: all-petite-caps;
  font-weight: 900;
  margin-top: 6%;
}

.notAvailPic {
  margin-bottom: 10%;
}

.wholeAnimal {
  border-radius: 3px;
  padding: 5%;
  width: 320px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.animalNames {
  font-family: "Open Sans Condensed", sans-serif;
  color: #001049;
  font-size: 31px;
  font-variant-caps: all-petite-caps;
  font-weight: 900;
}

.animalPicture {
  width: 298px;
  height: 261px;
  overflow: hidden;
  /* padding: 2%; */
}

.organization_animals {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.organization_animal_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
