@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

.organization_div {
  margin: 0 auto;
  width: 95%;
  border: 1px solid white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    text-align: center;
}

.organization_name {
  padding: 1%;
  width: 780px;
  display: flex;
  margin: 20px auto;
  justify-content: center;
  font-size: 40px;
  font-weight: 900;
  border: 1px solid white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  font-family: 'Open Sans Condensed', sans-serif;
  color: #001049;
  position: relative;
  z-index: 1;
}

.organization_info {
  display: flex;
  justify-content: normal;
  margin: 10px 0;
  align-items: center;
}

.organization_pic {
  width: 420px;
  height: 440px;
  overflow: hidden;
  padding: 1%;
  margin-top: -1%;
  margin-left: 26%;
}

.locationText {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #001049;
  font-weight: 900;
  font-size: 47px;
  font-variant-caps: all-petite-caps;
}

.cityState {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #001049;
  font-size: 34px;
  font-variant-caps: all-petite-caps;
  font-weight: 100;
}

.organization_details {
  font-weight: bold;
  font-size: 20px;
}

.contactUs {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #001049;
  font-weight: 900;
  font-size: 47px;
  font-variant-caps: all-petite-caps;
}

.organEmail {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #001049;
  font-size: 34px;
  font-variant-caps: all-petite-caps;
  font-weight: 100;
}

.organization_divider {
  padding: 10px;
  width: 800px;
  display: flex;
  margin: 20px auto;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  border: 1px solid white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.organization_animals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
}
