@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

.postTitleCom {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 44px;
  font-weight: 900;
  padding-bottom: .5%;
  text-shadow: 1px 0px 0px #001049;
}

.petTypeCom {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
}

.usernameContainer{
  padding-bottom: .5%;
}

.userName {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 900;
  font-size: 23px;
  text-transform: uppercase;
  }

.bodyContainer {
  width: 950px;
  padding-left: 38%;
  padding-top: -4%;
  margin-top: -17%;
  font-size: 33px;
}

.body {
  font-family: 'Open Sans Condensed', sans-serif;
  text-indent: 50px;
}

.formContainer {
  padding-top: 8%;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  width: 274px;
  height: 31px;
  font-size: 19px;
}

.borderborderComments {
  margin-top: 1%;

}

.borderComments {
  border: 1px solid white;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
  border-radius: 3px;
  padding-left: 1%;
  padding-bottom: 1%;
}

.comments {
  text-transform: uppercase;
  padding-top: 1%;
  font-size: 25px;
  text-shadow: 1px 0px 0px #001049;
}

.commentName {
  font-size: 19px;
  padding-top: 1%;
}

.postComment {
  width: 170px;
  font-size: 19px;
  margin-top: 1%;
  color: white;
  background-color: rgb(0, 16, 73);
  border-radius: 15px;
  height: 90%;
  font-size: 20px;
  padding: 5px 11px;
  border-radius: 15px;
}

.commentBorder {
  padding-bottom: 1%;
}

.commentUser {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 25px;
}

.commentBody {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 27px;
}
